/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FF7518;
    color: #333;
    text-align: center;
    /* Center content horizontally */
}

.center-content {
    display: inline-block;
    /* Ensures the container doesn't take full width */
    text-align: left;
    /* Reset text-align for children */
}

h1 {
    color: #007bff;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Responsive styles for small screens */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}p